[Unit]
Description=Music player daemon (mpd)
After=pulseaudio.service

[Service]
Type=forking

ExecStart=/usr/bin/mpd %h/.config/mpd/mpd.conf

[Install]
WantedBy=default.target
